<html>

  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="style.css">
    <title>Programming Practice</title>
  </head>

  <body>
    <header>
      <div class="heading">
        <h1 class="title">Programming Practice1</h1>
      </div>
      <div class="navbar">
        <ul class="nav-lists">
          <li><a href= "registration.html" >新規登録</a></li>
          <li><a href= "login.html" >ログイン</a></li>
        </ul>
      </div>
    </header>

    <div class="contents">
      <div class="first-view">
        <img src="images/hero.jpg" alt="トップ画面" class="top-image">
      </div>
        </ul>

    </div>
  <p>  </p>
    <footer>
      <p>ようこそ！Programming Practiceへ</p>
      <p>このページは、〇〇(ページコンセプトp)なページです。</p>
      <p>//これは、サンプルです。ログイン前!</p>
      <p>Copyright(C) Programming Practice ALL RIGHTS RESERVED.</p>
    </footer>
  </body>

</html>