/* リセットCSS */
body {
  font-size: 14px;
  color: #333;
  margin: 0 auto;
}
h1,h2,h3,h4,h5,h6,p {
  padding: 10px 0;
  margin: 0;
}

ul,li {
  padding: 0;
  margin: 0;
}

/* ヘッダー */
header {
  height: 50px;
  background-color: #f0f0f0;
  padding: 10px 0;
  display: flex;
}

.heading {
  width: 50%;
  margin-left: 30px;
}

.navbar {
  width: 50%;
  padding: 20px;
}

.nav-lists {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
}

li{
  list-style: none;
}

/* first-viewクラスからbottom-contentクラスまでの要素の親要素 */
/* 以下不要な部分削除済*/

/* 新着情報 以下不要な部分削除済*/

/* スタイリスト紹介 */

/* フォーム 以下不要な部分削除済*/


/* フッター */
footer {
  height: 50px;
  background-color: #f0f0f0;
  text-align: center;
  color: gray;
}}

